<div class="registration">
  <h2>Регистрация</h2>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "yellow_form"}) do |f| %>

    <p>
      <%= f.label :name, 'Имя, фамилия:' %>
      <%= f.text_field :name, :class => "standart_inptxt" %>
      <span class="error"><%= resource.errors[:name].first %></span>
    </p>

    <p>
      <%= f.label :email, 'Email:' %>
      <%= f.text_field :email, :class => "standart_inptxt" %>
      <span class="error"><%= resource.errors[:email].first %></span>
    </p>
    
    <p>
      <%= f.label :password, 'Пароль:' %>
      <%= f.password_field :password, :class => "standart_inptxt" %>
      <span class="error"><%= resource.errors[:password].first %></span>
      <%=raw "<span class=\"notice\">Минимум 6 символов</span>" if resource.errors[:password].empty? %>
    </p>
    
    <p>
      <%= f.label :password_confirmation, 'Пароль еще раз:' %>
      <%= f.password_field :password_confirmation, :class => "standart_inptxt" %>
    </p>

    
    <p>
      <%= f.simple_captcha %>
      <span class="error"><%= resource.errors[:captcha].first %></span>
    </p>
    
    <p>
      <%= f.submit "Зарегистрироваться", :class => "blue_inp_bg" %>
    </p>
    
    <p class="form_link">
      <%= link_to "Войти", new_customer_session_path %>
      <span class="bull">&bull;</span>
      <%= link_to "Восстановить пароль", new_customer_password_path %>
    </p>
  <% end %>
</div>
