<tr>
  <td>
    <% unless attachment.nil? -%>
      <%= attachment.first? ? 
            image_tag('arrow_up_notactive.png') :  
            link_to(image_tag('arrow_up.png'), 
              move_higher_admin_attachment_path(attachment), 
              :method => :put) %>
      <%= attachment.last? ?
            image_tag('arrow_down_notactive.png') :
            link_to(image_tag('arrow_down.png'), 
              move_lower_admin_attachment_path(attachment), 
              :method => :put) %>
      <%= attachment.position %>
    <% end -%>
  </td>
  <td class="image">
    <%= image_tag(attachment.nil? ? 'image_not_found.jpg' : attachment.image.url(:thumb)) %>
  </td>
  <td class="info">
    <% if attachment.nil? -%>
      <% new_attachment = Attachment.new -%>
      <% new_attachment.resource = object -%>

      <%= form_for [:admin, new_attachment],
          :html => { :multipart => true } do |f| %>
        <%= f.hidden_field :resource_id %>
        <%= f.hidden_field :resource_type %>
        <span class="label"><%= t('attachment.image_file') %>:</span>     
        <span class="file_upload">
          <%= f.file_field :image, :class => 'attachment_image_upload' %>
        </span>
        <span class="file_processing" style="display: none">
          <%= t('processing') %>
        </span>
      <% end %>
    <% else -%>
      <%= render(:partial => 'admin/attachments/preferences', :locals => {:attachment => attachment}) %>
    <% end -%>
  </td>
  <td class="destroy">
    <% if !attachment.nil? -%>
      <%= render(:partial => 'admin/attachments/destroy_link', :locals => {:attachment => attachment}) %>
    <% elsif show_delete -%>
      <%= link_to t('active_admin.delete_model'), "#", :class => 'row_destroy_link' %>
    <% end -%>
  </td>
</tr>
