<%= semantic_form_for [:admin, attachment] do |f| %>
  <%= f.inputs do %>
    <%= f.input :name  %>
    <%= f.input :link, :hint => false %>
    <li>
      <%= f.submit t('formtastic.actions.attachment.update') %>
    </li>
  <% end %>
<% end %>
