<div class="password_recovery">
  <h2>Сменить пароль</h2>
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "yellow_form" }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  	<p>
      <%= f.label :password, 'Новый пароль:' %>
      <%= f.password_field :password, :class => "standart_inptxt" %>
      <span class="error"><%= resource.errors[:password].first %></span>
    </p>

  	<p>
      <%= f.label :password_confirmation, 'Подтвердить:' %>
      <%= f.password_field :password_confirmation, :class => "standart_inptxt" %>
    </p>


    <p>
      <%= f.submit "Изменить", :class => "blue_inp_bg" %>
    </p>
    
    <p class="form_link">
      <%= link_to "Войти", new_customer_session_path %>
      <span class="bull">&bull;</span>
      <%= link_to "Зарегистрироваться", new_customer_registration_path %>
    </p>
  <% end %>
</div>
