<div class="prices">
  <ul class="block-ul">
    <% @photo_albums.each do |album| -%>
	  <li id="album_<%= album.id %>_photos">
		  <%= link_to album.name, '#', :class => 'prices-cat', 'data-hash-id' => "##{album.id}" %>
		  
			<ul class="block-ul image-list folded extra_width">
        <% album.attachments.sorted.each do |photo| -%>
			  <li>
          <%= link_to image_tag(photo.image.url(:site), :alt => photo.id), (photo.link.blank? ? photo.image.url(:lightbox) : photo.link), :rel => "prettyPhoto[gallery1]" , :class => 'photo_link', :title => "Squat" %>
          <div style="display: none;" id="photo_download_link_<%= photo.id %>">
            <%= link_to("Скачать фотографию", photo.image.url, :target => :blank) %>
          </div>
				</li>
        <% end -%>
        
        <% unless album.event.nil? -%>
          <li>
            <%= link_to image_tag('site/show_event.png'), events_bydate_and_id_path(:date => Russian.strftime(album.event.date, '%d.%m.%Y'), :id => album.event.id), :rel => "" %>
          </li>
        <% end -%>
      </ul>      
		</li>
		<% end -%>
		<%= paginate @photo_albums, :left => 8, :right => 5 %>
    
    <!--
    <li >
		  <a class="prices-cat prices-cat-selected">123</a>
		</li>
    -->
	</ul>
</div>

<% content_for :page_javascript do %>
  $(function() {
    $("a[rel^=\"prettyPhoto[gallery1]\"]").prettyPhoto({
      show_title: false,
      social_tools: '<div class="addthis_toolbox addthis_default_style" id="addthis_image_likes" addthis:url="qq"><a class="addthis_button_facebook"></a><a class="addthis_button_vk"></a><a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a></div>',
      changepicturecallback: function() {
        var $activeimage = $("#fullResImage");
        var $link = $("a[href=\""+$activeimage.attr('src')+"\"]");
        
        $('#addthis_image_likes').attr('addthis:url', '<%= root_url %>photo/' + $link.children('img').attr('alt'))
        addthis.toolbox(".addthis_toolbox");
        
        $('.pp_description').html($('#photo_download_link_' + $link.children('img').attr('alt')).html());
      }
    });

    $('.prices-cat').click(function() {
      $(this).next().toggleClass('folded', 200, function () {
        var $li = $(this).closest('li');
        var $a_pc = $li.children('a.prices-cat');

        if(!$(this).hasClass('folded')) {
          $.scrollTo($li, 500, {offset: -50});
          $a_pc.addClass('prices-cat-selected');
          
          $li.children('a.event_url').show();
          
          var page_id = $a_pc.attr('data-hash-id');

          if(window.history.pushState != undefined) {
            window.history.pushState("", "", "/photo/album/" + page_id.substring(1));
          } else {
            window.location.hash = page_id;
          }
        } else {
          $a_pc.removeClass('prices-cat-selected');
          $li.children('a.event_url').hide();
          
        }
      });

      return false;
    });
    
    window.setTimeout(function() {
      if(location.hash != "") {
        var $a_pc = $('a.prices-cat[data-hash-id="'+location.hash+'"]');
        
        $a_pc.click();
      }
    }, 500);
    
  });
<% end %>