<% content_for :fb_meta do -%>
  <meta property="og:title" content="Фотография в Squat cafe" />
  <meta property="og:description" content="<%= @attachment.resource.name %>" />
  <meta property="og:type" content="photo" />
  <meta property="og:url" content="<%= single_photo_url(@attachment.id) %>" />
  <meta property="og:image" content="<%= image_path @attachment.image.url %>" />
  <meta property="og:site_name" content="Squat cafe" />
  <meta property="fb:admins" content="100001286098583" />
<% end -%>


<div class="photo_album_title_line">
  <% unless @attachment.resource.event.nil? -%>
  <span class="photo_album_date">
    <%= Russian.strftime(@attachment.resource.event.date, '%d.%m.%Y') %>
  </span>
  <% end -%>
  
  <span class="photo_album_name">
    <%= @attachment.resource.name %>
  </span>

  &nbsp;&nbsp;&nbsp;
  <%= link_to "В альбом", photo_path(:anchor => @attachment.resource.id), :class => "photo_back_link" %>
</div>


<%= image_tag(@attachment.image.url, :class => "one_photo_img") %>