<% content_for :fb_meta do -%>
  <meta property="og:title" content="<%= @current_event.name %>" />
  <meta property="og:description" content="<%= strip_tags(@current_event.short_description).strip %>" />
  <meta property="og:type" content="band" />
  <meta property="og:url" content="<%= events_bydate_and_id_url(:date => Russian.strftime(@current_event.date, '%d.%m.%Y'), :id => @current_event.id) %>" />
  <% if @current_event.attachments.count > 0 -%>
    <meta property="og:image" content="<%= image_path @current_event.attachments.first.image.url(:event) %>" />
  <% end -%>
  <meta property="og:site_name" content="Squat cafe" />
  <meta property="fb:admins" content="100001286098583" />
<% end if @current_event -%>

<% content_for :page_javascript do -%>
  <% event_month, event_year = params[:date].split('.')[-2..-1] %>
  window.location.href = "<%= events_bymonth_url(:year => event_year, :month => event_month, :anchor => "#{params[:date]}#{params[:id].nil? ? "" : "-#{@current_event.id}"}") %>";
<% end -%>

<div class="event">
  <% if @current_event.attachments.count > 0 -%>
    <%= image_tag @current_event.attachments.first.image.url(:event), :class => 'main', :style => 'top: -42px;' %>
  <% end -%>
  <div class="event_content">
    <div class="short_content">
      <%=raw @current_event.short_description %>
    </div>

    <div class="full_content">
      <%=raw @current_event.description %>
      
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style" addthis:url="<%= events_bydate_and_id_url(:date => Russian.strftime(@current_event.date, '%d.%m.%Y'), :id => @current_event.id) %>">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
        <a class="addthis_button_preferred_4"></a>
        <a class="addthis_button_compact"></a>
        <a class="addthis_counter addthis_bubble_style"></a>
      </div>
      <!-- AddThis Button END -->
    </div>
  </div>

  <div class="read_more">
    <a href="#" class="read_more_link">Далее</a>
  </div>

  <div class="clearfix"></div>
</div>