<!--<div class="page-header">
	123
</div>-->
<div class="afisha">
<!--	<a class="afisha-pager" href="#"><div class="arrow-up"></div></a>-->
	<ul>
	  <% @events.each do |event| -%>
		<li>
			<%= link_to '#', :class => 'afisha-item-header', 'rel' => Russian.strftime(event.date, '%d.%m.%Y') do %>
        <%=raw Russian.strftime(event.date, '%a').mb_chars.upcase %>
			  <%=raw Russian.strftime(event.date, '| <strong>%d %B</strong> | %H:%M').mb_chars.downcase %> -
			  <%= event.name %> | <%= event.price %>
			<% end %>
			
			<div class="event closed<%= ' today' if event.date.today? %>">
        <% if event.attachments.count > 0 -%>
          <%= image_tag event.attachments.first.image.url(:event), :class => 'main', :style => 'top: -42px;' %>
        <% end -%>
        <div class="event_content">
          <div class="short_content">
            <%=raw event.short_description %>
          </div>

          <div class="full_content">
            <%=raw event.description %>
          </div>
        </div>

        <div class="read_more">
          <a href="#" class="read_more_link">Далее</a>
        </div>

        <div class="clearfix"></div>
      </div>
			
		</li>
		<% end -%>
	</ul>
<!--	<a class="afisha-pager" href="#"><div class="arrow-down"></div></a>-->
</div>


<% content_for :page_javascript do %>
  $(function() {
    $('.read_more_link').click(function() {
      $(this).closest('.event').squatEvent('open');
      return false; 
    });
    
    $('.afisha-item-header').click(function() {
      var $event= $(this).parent().children('.event');
      var $li = $(this).closest('li');
      
      if($event.hasClass('animated')) {
        return false;
      }
      
      if($event.hasClass('closed')) {
        $event.squatEvent('open');
        $('.event.opened').squatEvent('close', function() {  
          $.scrollTo($li, 500, {offset: -50});
        });
      } else if($event.hasClass('opened'))  {
        $event.squatEvent('close');
      }
      return false; 
    });
    
    window.setTimeout(function() {
      //$('.today:first').parent().find('.afisha-item-header').click();
      var $event = $('.today:first');
      var $li = $event.closest('li');

      $event.squatEvent('open', function() {
        return;
      }, 0);
      $.scrollTo($li, 0, {offset: -50});
    }, 200);

  });
<% end %>

