<div class="paginator<%= ' page_nobg' if nobg %>">
  <% if !current_page?(catalog_search_path) -%>
  <div class="number_page">Выводить по
    <%= link_to 20, category_path(:path => @category.url_path, :perpage => 20), 
                    :class => (@perpage == 20 ? "page_active" : nil) %>
    <%= link_to 50, category_path(:path => @category.url_path, :perpage => 50), 
                    :class => (@perpage == 50 ? "page_active" : nil) %>
    <%= link_to 100, category_path(:path => @category.url_path, :perpage => 100), 
                    :class => (@perpage == 100 ? "page_active" : nil) %>
  </div>
  <% end -%>
  
  <%= paginate @goods %>
  
  <div class="sorting">
    <form action="<%= category_path(:path => @category.url_path, :page => @page, :perpage => @perpage) %>">
      <label>Сортировать</label>
      <select class="sort_type">
        <option value="price">По цене</option>
        <option value="name">По названию</option>
      </select>
      
      <%= hidden_field_tag 'page', @page  %>
      <%= hidden_field_tag 'perpage', @perpage  %>
      <input type="hidden" name="search[meta_sort]" class="meta_sort_hidden">
      
      <span class="sorting_arrows">
        <%= link_to image_tag("site/arrow_top.jpg"), '#', :rel => 'desc', :class => 'sort_link' %><br />
        <%= link_to image_tag("site/arrow_bottom.jpg"), '#', :rel => 'asc', :class => 'sort_link' %>
      </span>
    </form>
  </div>
  
  <div class="clear"></div>
</div><!--end_paginator-->
