<% events = Event.today.sorted.limit(2) -%>

<% if events.count > 0 -%>
<div class="today">
  <div class="today-title">
	  СЕГОДНЯ
  </div>
	
  <ul>
    <% events.each do |event| -%>
      <%= content_tag :li, :class => (event == events[-1] ? 'last' : '') do %>
        <%= event.date.strftime('%H:%M') %>
        <%= link_to "#{event.name} | #{event.price}", events_bydate_path(:date => Russian.strftime(event.date, '%d.%m.%Y')) %>
      <% end -%>
    <% end -%>
	</ul>
</div>
<% end -%>

<% event = Event.site_featured.first || 
           Event.site_future.first -%>
<% if event -%>
<div class="featured">
  <div class="fName"><%= link_to "АФИША", static_page_path('afisha') %></div>
	<div class="fImage">
    <% if event.attachments.count > 0 -%>
      <%= link_to image_tag(event.attachments.first.image.url(:main_page_images)), events_bydate_path(:date => Russian.strftime(event.date, '%d.%m.%Y')) %>
    <% else -%>
      <%= image_tag 'site/photo_b.jpg'%>
    <% end -%>
  </div>
  <div class="fTitle"><%= event.date.strftime('%d.%m %H:%M') %><br><%= event.name %></div>
	<div class="fText">Цена: <%= event.price %></div>
</div>
<% end -%>

<% menu_page = @page.children.visible.find_by_link('menu') -%>
<% if menu_page-%>
<div class="featured">
  <div class="fName"><%= link_to "МЕНЮ", static_page(menu_page) %></div>
	<div class="fImage">
    <% if menu_page.attachments.count > 0 -%>
      <%= link_to image_tag(menu_page.attachments.first.image.url(:main_page_images)), static_page(menu_page) %>
    <% else -%>
      <%= link_to image_tag('site/alco.jpg'), static_page(menu_page) %>
    <% end -%>
  </div>
	<div class="fTitle"><%= menu_page.title %></div>
	<div class="fText">
    <%=raw menu_page.content %>
  </div>
</div>
<% end -%>

<% botique_page = @page.children.visible.find_by_link('botique') -%>
<% if botique_page -%>
<div class="featured featured-last">
	<div class="fName"><%= link_to "БУТИК", static_page(botique_page) %></div>
	<div class="fImage">
    <% if botique_page.attachments.count > 0 -%>
      <%= link_to image_tag(botique_page.attachments.first.image.url(:main_page_images)), static_page(botique_page) %>
    <% else -%>
      <%= link_to image_tag('site/sumka.jpg'), static_page(botique_page) %>
    <% end -%>
  </div>
	<div class="fTitle"><%= botique_page.title %></div>
	<div class="fText">
    <%=raw botique_page.content %>
  </div>
</div>
<% end -%>

				
<div class="clearfix"></div>
<div class="fName">СКОРО</div>
<div class="events">
  <a href="#" class="arrow-left"></a>
	<div id="carousel">
  	<ul class="block-ul slider">
      <% Event.site_future.limit(12).each do |event| -%>
  	  <li class="slider-item">
        <%= link_to events_bydate_path(:date => Russian.strftime(event.date, '%d.%m.%Y') ), :class => 'slider-item-a' do %>
  			  <div class="slider-item-img ">
            <% if event.attachments.count > 0 -%>
              <%= image_tag event.attachments.first.image.url(:main_page_images_small) %>
            <% else -%>
              <%= image_tag 'site/slider.jpg'%>
            <% end -%>
          </div>
  				<div class="slider-item-date "><%= event.date.strftime('%d.%m %H:%M') %></div>
  				<div class="slider-item-title"><%= event.name %></div>
  				<div class="slider-item-more">подробнее</div>
  				<div class="clearfix"></div>
        <% end %>
  		</li>
      <% end -%>
  	</ul>
  </div>
	<a href="#" class="arrow-right"></a>
</div>

<% content_for :page_javascript do -%>
$(function() {
  $("#carousel").jCarouselLite({
    btnNext: ".arrow-right",
    btnPrev: ".arrow-left",
    circular: false
  });

  $('.arrow-right, .arrow-left').click(function() {
    return false;
  });
});

<% end-%>
