<% events = Event.today.sorted.limit(2) -%>

<% if events.count > 0 -%>
<div class="today">
  <div class="today-title">
	  СЕГОДНЯ
  </div>
	
  <ul>
    <% events.each do |event| -%>
      <%= content_tag :li, :class => (event == events[-1] ? 'last' : '') do %>
        <%= event.date.strftime('%H:%M') %>
        <%= link_to "#{event.name} | #{event.price}", events_bydate_path(:date => Russian.strftime(event.date, '%d.%m.%Y')) %>
      <% end -%>
    <% end -%>
	</ul>
</div>
<% end -%>

<% event = Event.site_featured.first || 
           Event.site_future.first -%>
<% if event -%>
<div class="featured">
  <div class="fName blue"><%= link_to "АФИША", static_page_path('afisha') %></div>
	<div class="fImage">
    <% if event.attachments.count > 0 -%>
      <%= link_to image_tag(event.attachments.first.image.url(:main_page_images)), events_bydate_path(:date => Russian.strftime(event.date, '%d.%m.%Y')) %>
    <% else -%>
      <%= image_tag 'site/photo_b.jpg'%>
    <% end -%>
  </div>
  <div class="fTitle"><%= event.date.strftime('%d.%m %H:%M') %><br><%= event.name %></div>
	<div class="fText">Цена: <%= event.price %></div>
</div>
<% end -%>

<% menu_page = @page.children.visible.find_by_link('menu') -%>
<% if menu_page-%>
<div class="featured">
  <div class="fName green"><%= link_to menu_page.seo_title, static_page(menu_page) %></div>
	<div class="fImage">
    <% if menu_page.attachments.count > 0 -%>
      <% att = menu_page.attachments.first %>
      <%= link_to image_tag(att.image.url(:main_page_images)), att.link.blank? ? static_page(menu_page) : att.link %>
    <% else -%>
      <%= link_to image_tag('site/alco.jpg'), static_page(menu_page) %>
    <% end -%>
  </div>
	<div class="fTitle"><%= menu_page.title %></div>
	<div class="fText">
    <%=raw menu_page.content %>
  </div>
</div>
<% end -%>

<% botique_page = @page.children.visible.find_by_link('botique') -%>
<% if botique_page -%>
<div class="featured featured-last">
	<div class="fName red"><%= link_to botique_page.seo_title, static_page(botique_page) %></div>
	<div class="fImage">
    <% if botique_page.attachments.count > 0 -%>
      <% att = botique_page.attachments.first %>
      <%= link_to image_tag(att.image.url(:main_page_images)), att.link.blank? ? static_page(botique_page) : att.link %>      
    <% else -%>
      <%= link_to image_tag('site/sumka.jpg'), static_page(botique_page) %>
    <% end -%>
  </div>
	<div class="fTitle"><%= botique_page.title %></div>
	<div class="fText">
    <%=raw botique_page.content %>
  </div>
</div>
<% end -%>