<table border="0" cellspacing="0" cellpadding="0" id="static_pages" class="index_table">
  <thead>
    <tr>
      <th><%= StaticPage.human_attribute_name(:title) %></th>
      <th></th>
      <th><%= StaticPage.human_attribute_name(:link) %></th>
      <th><%= StaticPage.human_attribute_name(:redirect_url) %></th>
      <th><%= StaticPage.human_attribute_name(:visible) %></th>
      <th><%= StaticPage.human_attribute_name(:show_in_nav) %></th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
  <% odd = true -%>
  <% render_table_tree @static_pages, 
                       :sort => lambda{|x| x.position} do |page, child| %>
    <tr class="<%= (odd = !odd) ? 'odd' : 'even' %>" id="static_page_#{page_id}">
      <td>
        <%=raw (('&nbsp'*8)) * (page.depth || 0) %>|-
        <%= link_to page.title, edit_admin_static_page_path(page) %>
      </td>
      <td>
        <%=raw (('&nbsp'*10)) * (page.depth || 0) %>
        <%= page.first? ? 
              image_tag('arrow_up_notactive.png') :  
              link_to(image_tag('arrow_up.png'), 
                move_higher_admin_static_page_path(page), 
                :method => :put) %>
        <%= page.last? ?
              image_tag('arrow_down_notactive.png') :
              link_to(image_tag('arrow_down.png'), 
                move_lower_admin_static_page_path(page), 
                :method => :put) %>
      </td>
      <td><%= page.url_path %></td>
      <td><%= page.redirect_url %></td>
      <td>
        <span class="status <%= page.visible ? 'ok' : 'error' %>"><%= t("active_admin.status_tags.static_page.#{page.status}") %></span>
      </td>
      <td>
        <span class="status <%= page.show_in_nav ? 'ok' : 'error' %>"><%= t("active_admin.status_tags.static_page.#{page.show_in_nav_status}") %></span>
      </td>
      <td>
        <%= link_to t('active_admin.actions.static_page.destroy'), admin_static_page_path(page), :method => :delete, :confirm => t('are_you_shure') %>
      </td>
    </tr>
  <% end %>


  </tbody>
</table>

