<%= semantic_form_for [:admin, @category, @good] do |f| %>
  <%= f.inputs :info do %>
    <%= f.input :category, :as => :nested_set if !@good.new_record? %>
    <%= f.input :name %>
    <%= f.input :description, :as => :ckeditor, 
                        :input_html => { :cols => 0, 
                                         :width => '77%',
                                         :resize_dir => 'vertical'} %>
    <%= f.input :articul %>
    <%= f.input :price %>
  <% end %>

  <%= f.inputs :control do %>
    <%= f.input :visible %>
    <%= f.input :export %>
  <% end %>
  
  <%= f.inputs :virtual do %>
    <% Category.virtual.each { |cat| -%>
      <%= f.input :virtual_categories, :as => :select, 
                    :collection => cat.children, 
                    :label => cat.name, 
                    :multiple => true, 
                    :input_html => { 
                      :'data-placeholder' => t('choose'),
                      :style => 'width: 78%;',
                      :class => 'good_virtual_category_ids',
                      :id => "good_virtual_category_#{cat.id}_ids"
                    }, 
                    :prompt => false %>
    <% } -%>
  <% end %>
  
  <%= f.inputs :params do %>
    <ul id="parameters_list" class="sortable">
    <% parameters_method = @good.new_record? ? 'nested_parameters' : 'parameters'  -%>
    <% (@good.send(parameters_method) || []).each { |p| -%>
      <%= render :partial => 'parameter', :locals => {:p => p} %>
    <% } -%>
    </ul>
    
    <%= content_tag( :input, :type => :submit, :value => t('add'), :id => "add_parameter_link") {}%>
  <% end %>

  <%= f.inputs :order_variants do %>
    <ol class="variants_type_list">
      <% @good.variants.each do |variant_type, variants| -%>
        <li rel="<%= variant_type %>">
          <label><%=t "good.variants.#{variant_type}" %></label>
        
          <ul id="variants_<%= variant_type %>_list" class="variants_list sortable">
            <% (variants || []).each { |value| -%>
            <%= render :partial => 'variant', 
                       :locals => {
                         :variant_type => variant_type,
                         :value => value
                       } %>
            <% } -%>
          </ul>
          
          <div class="add_variant_link_wrapper"> 
            <%= content_tag( :input, :type => :submit, :value => t('add'), :id => "add_variant_#{variant_type}_link", :class => "add_variant_link") {}%>
          </div>
        </li>
      <% end -%>
    </ol>
  <% end if false %>
 
  <%= f.inputs :similar_goods do %>
    <ol class="variants_type_list">
      <li rel="articul">
        <label><%= Good.human_attribute_name(:articul) %></label>
        
        <ul id="similar_articul_list" class="variants_list sortable">
          <% (@good.similar || []).each { |value| -%>
          <%= render :partial => 'similar', 
                     :locals => {
                       :value => value
                     } %>
          <% } -%>
        </ul>
          
        <div class="add_variant_link_wrapper"> 
          <%= content_tag( :input, :type => :submit, :value => t('add'), :id => "add_similar_link", :class => "add_similar_link") {}%>
        </div>
      </li>
    </ol>
  <% end if false %>


  <%= f.buttons %>
<% end %>

<%= content_tag(:script, :id => 'new_parameter', :type => 'text/x-jquery-tmpl') { render :partial => 'parameter' } %>
<%= content_tag(:script, :id => 'new_variant', :type => 'text/x-jquery-tmpl') { render :partial => 'variant' } %>
<%= content_tag(:script, :id => 'new_similar', :type => 'text/x-jquery-tmpl') { render :partial => 'similar' } %>

<%= render(:partial => 'admin/extra_attachments/list',
           :locals => { :object => @good }) if !@good.new_record?  %>

<%= render(:partial => 'admin/attachments/list',
           :locals => { :object => @good }) if !@good.new_record?  %>


<%= javascript_tag do %>
$(function() {
  $('.good_virtual_category_ids').chosen();

  $('#add_parameter_link').click(function() {
    var $new = $($('#new_parameter').html());
    
    $new.find('span.close').click(function() {
      $(this).parent().remove();
      $('#parameters_list').sortable('refresh');
    });
  
    $('#parameters_list').append($new).sortable('refresh');
    
    return false;
  });
 
  $('#parameters_list li > span.close').click(function() {
    $(this).parent().remove();
    $('#parameters_list').sortable('refresh');
  });
  
  $('#parameters_list').sortable({
    axis: 'y',
    cursor: 'crosshair'
  });
  
});
<% end %>

<%= javascript_tag do %>
$(function() {
  $('.add_variant_link').click(function() {
    var $li = $(this).closest('li');

    var $new = $.tmpl($('#new_variant'), 
      {"variant_type": $li.attr('rel')});
    
    $new.find('span.close').click(function() {
      var $sortable = $(this).closest(".sortable");

      $(this).parent().remove();
      $sortable.sortable('refresh');
    });
  
    $li.children('.sortable').append($new).sortable('refresh');
    
    return false;
  });
 
  $('.variants_list li > span.close').click(function() {
    var $sortable = $(this).closest(".sortable");

    $(this).parent().remove();
    $sortable.sortable('refresh');
  });
  
  $('.variants_list').sortable({
    axis: 'y',
    cursor: 'crosshair'
  });
  
});
<% end %>

<%= javascript_tag do %>
$(function() {
  $('.add_similar_link').click(function() {
    var $li = $(this).closest('li');

    var $new = $.tmpl($('#new_similar'), {});
    
    $new.find('span.close').click(function() {
      var $sortable = $(this).closest(".sortable");

      $(this).parent().remove();
      $sortable.sortable('refresh');
    });
  
    $li.children('.sortable').append($new).sortable('refresh');
    
    return false;
  });
 
  $('.variants_list li > span.close').click(function() {
    var $sortable = $(this).closest(".sortable");

    $(this).parent().remove();
    $sortable.sortable('refresh');
  });
  
  $('.variants_list').sortable({
    axis: 'y',
    cursor: 'crosshair'
  });
  
});
<% end %>
