<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <%= display_meta_tags :site => 'Squat cafe' %>

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" href="<%= image_path 'site/favicon.ico' %>" type="image/x-icon">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_tag do %>
    <%= yield :page_javascript %>
  <% end %>
  <%= javascript_tag do %>
    window.events = <%=raw Event.of_current_year.visible.for_calendar.to_json(:only => [:name], :methods =>[:date_json]) %>;
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container">
    <header>
		<div class="head">
		  <div class="head-cont">
        <%= link_to image_tag('site/logo.png'), root_path, :class => 'head-left' %>
        <%= link_to image_tag('site/squatcafe.png'), root_path, :class => 'head-right' %>
      </div>
    </div>
    
    <div class="menu_wrapper">
	  <div class="menu" id="menu_fixed_scroll">
    	<div class="menu-cont">
    		<ul class="menu-main">
          <% StaticPage.site_roots.navigation.each do |page| -%>
            <li>
              <%= link_to page.title, static_page(page), :class => (page == @page ? 'selected' : '') %>
            </li>
          <% end -%>    
        </ul>
            <div class="right-column">
            	 <form name="quicksearch" method="post" action="search">
			        <input type="text" name="keyword" id="keyword" value="Поиск" />
			        <input type="submit" name="ok_search" id="ok_search" value="OK" class="button" />
		       </form>
            </div>
        </div>
	    </div>
      </div>
    </header>
    
    
    <div id="main" role="main">
		<!--Content!-->
		<div class="content">
			<div class="inner">
        <%= yield %>
			</div>
			<div class="right-column" id="sidebar_fixed_scroll">
				<!--BLOCK START !-->
				<div class="block">
					<div class="block-header"> 
						<a href="#"><div class="block-header-title">КАЛЕНДАРЬ</div>
						<div class="block-header-arrow"><a class="arrow-down"></a></div>
						<div class="clearfix"></div></a> 
					</div>
					
					<div class="block-content" id="calendar">
					</div>
				</div>
				<!--BLOCK END !-->
			</div>
		</div>
		<div class="clearfix"></div>
		<!--End of Content!-->	
    </div>
    
    <footer>
      <div class="footer-cont">
        <ul class="footer-c1">
          <% StaticPage.site_roots.navigation.each do |page| -%>
            <li>
              <%= link_to page.title, static_page(page), :class => (page == @page ? 'selected' : '') %>
            </li>
          <% end -%>    
    		</ul>
        <% expanded = StaticPage.find_by_url_path('club') ||
                      StaticPage.root -%>
        <% children = expanded.children.navigation -%>
    		<ul class="footer-c2">
          <% (children[0..4] || []).each do |page| -%>
            <li>
              <%= link_to page.title, static_page(page), :class => (page == @page ? 'selected' : '') %>
            </li>
          <% end -%>    
  		  </ul>
    		<ul class="footer-c3">
          <% (children[5..9] || []).each do |page| -%>
            <li>
              <%= link_to page.title, static_page(page), :class => (page == @page ? 'selected' : '') %>
            </li>
          <% end -%>    
		    </ul>

    		<div class="right-column">
          <%= image_tag 'site/squatsmall.png', :width => '100px' %>
  			</div>
  
        <div class="clearfix"></div>
        <div class="copyright">© 2009-2012 Squat-cafe Рождественка 12/1 (м.Кузнецкий Мост, вход с Варсонофьевского пер.) Тел: (495)625 69 90 go@squatcafe.ru</div>
      </div>   
    </footer>
  </div> <!--! end of #container -->

  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>
