<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= display_meta_tags :site => 'Oltis-lux - мебельный интернет-магазин' %>
  <%= stylesheet_link_tag    "application" %>
  <!--[if lte IE 6]>
  <%= javascript_include_tag "DD_belatedPNG.js" %>
  <script>
        DD_belatedPNG.fix(".iePNG,img, .close_fb, .search_btn, .nivo-prevNav, .nivo-nextNav");
  </script>
  <![endif]-->
  <!--[if IE]><%= javascript_include_tag "all_ie" %><![endif]-->
  <%= javascript_include_tag "application" %>
  <%= javascript_tag do %>
    <%= yield :page_javascript %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="top_nav">
  <div class="top_nav_inner">
    <ul class="nav_list">
      <% if current_customer.nil? -%>
      <li class="name_person"><%= image_tag "site/flower.png" %></li>
      <li class="first"><%= link_to "Вход в личный кабинет", new_customer_session_path %></li>
      <% else -%>
      <li class="name_person"><%= image_tag "site/flower.png" %><%= current_customer.name %></li>
      <li class="first"><%= link_to "Личный кабинет", customer_path %></li>
      <li><%= link_to "Мой Wish List", wishlist_path %></li>
      <li><%= link_to "Выход", destroy_customer_session_path, :method => :delete %></li>
      <% end -%>
    </ul>
    
    <div class="cart">
      <%= image_tag "site/basket_icon.png" %>
      <% pl = Russian.p(session[:cart_count], 'позиция', 'позиции', 'позиций') -%>
      <span>Ваш заказ: <%= link_to "#{session[:cart_count]} #{pl}", cart_path %>, на сумму <%= link_to number_to_currency(session[:cart_price]), cart_path %></span>
    </div>
  </div>
</div><!--end_top_nav_inner-->


<div id="wrapper">
  <div id="page"><!--page-->
    <div id="header"><!--header-->
      <div class="logo">
        <%= link_to image_tag('site/logo.jpg'), root_path %>
      </div>
      <div class="contacts">
        8 (495)<span class="number_phone">743-23-09, 398-43-23</span><br />
        <p>
          <%= link_to "Форма обратной связи", "#", :class => "feedback_link" %>
        </p>
          <div class="feedback_block">
          	<h2><span>Форма быстрой связи</span><a href="#" class="close_fb"></a></h2>
              <form action="">
              	<p><input type="text" name="" value="Ваше имя" class="fb_inp" onclick="if(this.value=='Ваше имя'){this.value='';}" onblur="if(this.value==''){this.value='Ваше имя';}" onkeydown="setcolor(this,'#000')"/></p>
                  <p><input type="text" name="" value="Телефон  (+7 (906) 333-09-33)" class="fb_inp" onclick="if(this.value=='Телефон  (+7 (906) 333-09-33)'){this.value='';}" onblur="if(this.value==''){this.value='Телефон  (+7 (906) 333-09-33)';}" onkeydown="setcolor(this,'#000')"/></p>
                  <p class="checkbox_bl"><input type="checkbox" id="check1" name="a" class="styled" /><label for="check1">Перезвоните мне</label></p>
                  <p><input type="text" name="" value="E-mail (example@company.ru)" class="fb_inp" onclick="if(this.value=='E-mail (example@company.ru)'){this.value='';}" onblur="if(this.value==''){this.value='E-mail (example@company.ru)';}" onkeydown="setcolor(this,'#000')"/></p>
                  <p class="txtarea_bl"><label>Сообщение: </label><br /><textarea rows="" cols="" class=""></textarea></p>
                  <p class="fd_btn"><input type="submit" value="Отправить" class="blue_inp_bg" /></p>
              </form>
          </div>
      </div><!--end_contacts-->
      
      <div class="menu">
      	<ul>
      	  <% first = true -%>
      	  <% site_main_menu.each do |page| -%>
    	      <%= content_tag 'li', :class => (first ? 'first' : nil) do %>
    	        <%= link_to page.title, static_page_path(page.url_path) %>
            <% end -%>	
            <% first = false -%>
          <% end -%>
        </ul>
      </div><!--end_menu-->
      <div class="clear"></div>
    </div><!--end_header-->
    
    <div id="container"><!--container-->
      <div class="left_bar">
        <div class="search">
          <%= form_tag catalog_search_path, :method => :post do |f| %>
            <label>Поиск</label><input type="text" name="" class="search_inp" />
            <input type="submit" value="" class="search_btn" />
          <% end -%>
          <p>
            <%= link_to "Расширенный поиск", catalog_search_path %><%= image_tag "site/blue_arrow.jpg", :class => "blue_arrow" %>
          </p>
        </div>
        <div class="catalog">
          <% classes = ["brown", "", "blue"] -%>
          <% anc = @category.try(:self_and_ancestors) || [] -%>
          <% site_catalog_menu.each do |root_category| -%>
            <%= content_tag 'h3', root_category.name, :class => classes.shift %>
            <ul class="list_catalog">
              <% root_category.children.visible.sorted.each do |category| -%>
                <% is_current = (category == anc[1]) -%>
                <%= content_tag 'li', :class => (is_current ? 'active_prod' : nil) do %>
                  <%= link_to category.name, category_path(category.url_path) %>
                  <% if is_current -%>
                    <ul>
                      <% category.children.visible.sorted.each do |sub_category| -%>
                        <% is_current_s = (sub_category == anc[2]) -%>
                        <%= content_tag 'li' do %>
                          <%= link_to sub_category.name, category_path(sub_category.url_path), :class => (is_current_s ? 'active_sub' : nil) %>
                        <% end %>
                      <% end -%>
                    </ul>
                  <% end -%>
                <% end %>
              <% end -%>
            </ul>
          <% end -%>
        </div><!--end_catalog-->
      </div><!--end_left_bar-->
        
      <div class="content">
       	<%= yield %>
      </div><!--end_content-->
      <div class="clear"></div>
    </div><!--end_container-->
  </div><!--end_page-->
</div><!--end_wrapper-->

<div id="footer"><!--footer-->
  <div class="footer">
    <div class="foot_left">
      <span class="copyright">© Oltis-lux.com | 2011-2012</span>
      <div class="foot_contacts">Звоните нам:
        <p class="foot_numb">
          <span class="code_phone">8 (495)</span>
          <span class="number_phone">743-23-09</span><br />
          <span class="number_phone second_num">398-43-23</span>
        </p>
        
        <p>Пишите нам:<br />
          <%= mail_to 'info@oltis-lux.com' %>
        </p>
      </div>
    
      <div class="scoial_settings">
        <%= link_to image_tag("site/icon_vk.png"), "#" %>
        <%= link_to image_tag("site/icon_facebook.png"), "#" %>
        <%= link_to image_tag("site/icon_twitter.png"), "#" %>
        <%= link_to image_tag("site/icon_google.png"), "#" %>
      </div>
    </div>
  
    <div class="footer_menu">
     	<ul class="foot_list first_list">
      	<li class="list_title"><%= link_to "Личный кабинет", customer_path %></li>
        <li><%= link_to "Личные данные", customer_path %></li>
        <li><%= link_to "Корзина", cart_path %></li>
        <li><%= link_to "Wish List", wishlist_path %></li>
      </ul>
      
      <% site_catalog_menu.each do |root_category| -%>
        <ul class="foot_list">
          <li class="list_title"><%= link_to root_category.name, category_path(root_category.url_path) %></li>
          <% root_category.children.visible.sorted.each do |category| -%>
            <li>
              <%= link_to category.name, category_path(category.url_path) %>
            </li>
          <% end -%>
        </ul>
      <% end -%>
      
      <ul class="foot_list">
        <li class="list_title"><%= link_to "Разделы сайта", root_path %></li>
    	  <% site_main_menu.each do |page| -%>
	        <li><%= link_to page.title, static_page_path(page.url_path) %></li>
        <% end -%>
      </ul>
    </div><!--end_footer_menu-->    
    <div class="clear"></div>
  </div>
</div><!--end_footer-->

</body>
</html>
